.App {
  text-align: center;
}

.article-card {
  border: 3px solid black;
  border-radius: 10px;
}

.main-section {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3vh;
}